.contacts {
	padding: 2rem;
}

.contacts-container,
.filters, .padding-1r {
	padding: 1rem;
}

.header {
	color: "#20346b";
}

.contacts-body {
	margin-top: 2rem;
	padding: 2rem;
}

.refresh {
	border-radius: 50%;
	height: 3.5rem;
	width: 3.5rem;
}

.table-container {
    padding: 5rem;
}

.card-container {
	margin-bottom: 2rem;
}

.margin-r-20p {
	margin-right: 20px;
}

.fs-2vw {
	font-size: 2vw;
}

.fs-3vw {
	font-size: 3vw;
}
