.paper {
    padding: '20px';
    margin-bottom: '20px';
};
.title {
    font-weight: 'normal';
    margin: 0;
};
.formControl {
    width: '100%';
};
.buttonClear {
    margin-right: '20px';
};

.clear-button-text {
    font-size: 12px;
    color: #918e8e;
}