body {
	overflow-x: hidden;
}

// ----------------------------------
.rows-per-page-wrapp {
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-filters {
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	.MuiOutlinedInput-input {
		padding: 1rem;
	}
	.MuiInputLabel-outlined {
		transform: translate(14px, 12px) scale(1);
	}
}

@media only screen and (max-width: rem(480)) {
	.logo-img {
		padding: rem(5);
	}
	.pagination-wrapper {
		flex-direction: column;
		justify-content: center;
		padding-top: rem(15);
		padding-bottom: rem(5);
	}
	.header-grid {
		align-items: flex-start;
		flex-direction: column;
	}
	.page {
		&__title {
			font-weight: normal;
		}
	}
	.login-page {
		&__body {
			padding: 2rem;
		}
	}
	.table-filters {
		padding: 1rem;
	}
}